Estilo para la lista de navegación
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #662525;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #251111;
    font-weight: bold;
  }
  


  